node_modules
dist-mv2
dist-mv2-safari
dist-mv3
web-ext-artifacts
.parcel-cache
workspace.code-workspace
# Packaged chrome extension and keys
*.crx
*.pem
# macos metadata file
.DS_Store
# Xcode
xcuserdata
# Emacs
*~
