.ToggleStatus {
	display: flex;
	justify-content: space-between;
	font-size: 1em;
	text-transform: none;
	line-height: 1.8;
	min-width: 12em;
}

.ToggleStatus.set ~ .ToggleStatus.set,
.ToggleStatus.unset {
	opacity: 0.7;
}
