#rango-toast .ToggleStatus {
	display: flex;
	justify-content: space-between;
	font-size: 1em;
	text-transform: none;
	line-height: 1.8;
	min-width: 12em;
}

#rango-toast .ToggleStatus.set ~ .ToggleStatus.set,
#rango-toast .ToggleStatus.unset {
	opacity: 40%;
}
