.App {
	max-width: 700px;
	min-width: 600px;
	margin: 0 auto;
	padding: 1rem;
}

h1 {
	display: flex;
	align-items: center;
	gap: 1rem;
	font-size: 1.5rem;
	margin-bottom: 2rem;
}

.small {
	font-size: 0.85em;
	opacity: 80%;
	margin-top: 0.4em;
	margin-bottom: 0;
	line-height: 1.4;
}

.warning {
	color: var(--orange-600);
}

.SettingRow > * > label {
	padding-top: 0.3em;
}
