#rango-hints-container {
	all: unset;
}

.rango-hint {
	all: unset;
	z-index: 99999;
	position: absolute;
	border-radius: 30%;
	box-shadow: rgba(0 0 0 / 24%) 0 3px 8px;
	padding: 2px;
	width: auto;
	line-height: 1;
	text-align: center;
	font-family: monospace;
	font-size: 9px;
}

.rango-hint-light {
	background: #fff;
	color: #333;
}

.rango-hint-dark {
	background: #333;
	color: #fff;
}
